@import "../../responsive.scss";

nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  a {
    transition: all 0.4s ease;

    &:hover {
      scale: 1.05;
    }
  }

  .left {
    flex: 3;

    display: flex;
    gap: 50px;
    align-items: center;

    .nav_link {
      @include sm {
        display: none;
      }

      @include md {
        display: none;
      }
    }

    .brand-logo {
      max-width: 150px;
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .menu-icon {
      display: none;

      @include sm {
        display: inline;
      }
    }

    .menu{
      display: none;

      @include sm {
        display: block;
      }
    }

    @include sm {
      display: none;
    }

    a {
      margin: 20px;
      padding: 12px 24px;
    }

    .register {
      background: #fece51;
      border-radius: 6px;
    }
  }
}
